<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Smart Fan Controller</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#222222">

    <link rel="icon" type="image/png" href="/static/icon.jpg">
    <link rel="apple-touch-icon" href="/static/icon.jpg">

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="card">
        <h1>Raspberry Fan</h1>
        
        <div style="margin-bottom: 20px;">
            <div class="label">Temperatura</div>
            <div id="temp" class="value-box">--</div>
        </div>

        <div style="margin-bottom: 20px;">
            <div class="label">Viteza (RPM)</div>
            <div id="rpm" class="value-box">--</div>
        </div>
        
        <div>
            <div class="label">Putere (%)</div>
            <div id="pwr" class="value-box">-- %</div>
        </div>
        
        <div class="control-panel">
            <div style="margin-bottom: 25px; display: flex; align-items: center; justify-content: center;">
                <span class="mode-label">MOD AUTO:</span>
                <label class="switch">
                    <input type="checkbox" id="autoToggle" onchange="sendControl()">
                    <span class="slider"></span>
                </label>
            </div>
            
            <div id="sliderContainer">
                <div class="label">Control Manual</div>
                <input type="range" id="speedSlider" min="0" max="100" value="50" oninput="updateSliderVal(this.value)" onchange="sendControl()">
                <div style="font-size: 18px; font-weight: bold;">
                    <span id="sliderVal">50</span>%
                </div>
            </div>

            <button class="turbo-btn" onclick="triggerTurbo()">🚀TURBO🚀</button>
        </div>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>